    <br>
    <h1 style="text-align: center; color: white; font-family: Consolas;">Other files</h1>
    <table>
        <tr>
            <td class="linktd"><div class="footer category">Top Artists</div></td>
            <td class="linktd"><a class="footer red" href="artists_short_term_size50.html">Last 4 Weeks</a></td>
            <td class="linktd"><a class="footer green" href="artists_medium_term_size50.html">Last 6 Months</a></td>
            <td class="linktd"><a class="footer blue" href="artists_long_term_size50.html">All Time</a></td>
        </tr>
        <tr>
            <td class="linktd">
                <div class="footer category">Top Tracks</div>
            </td>
            <td class="linktd">
                <a class="footer red" href="tracks_short_term_size50.html">Last 4 Weeks</a>
            </td>
            <td class="linktd">
                <a class="footer green" href="tracks_medium_term_size50.html">Last 6 Months</a>
            </td>
            <td class="linktd">
                <a class="footer blue" href="tracks_long_term_size50.html">All Time</a>
            </td>
        </tr>
    </table>
</body>
</html>
